<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aita2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>工部</name>
    <description>
        致力于非遗文化的传承、保护与创新
    </description>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/40x40.png" />
        <icon density="mdpi" src="res/icon/android/48x48.png" />
        <icon density="hdpi" src="res/icon/android/72x72.png" />
        <icon density="xhdpi" src="res/icon/android/96x96.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
        <splash density="port-xxhdpi" src="res/screen/android/screen-xxhdpi-portrait.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/screen-xxxhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="myaita" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value="aita2" />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <engine name="ios" spec="4.5.5" />
    <engine name="android" spec="7.0.0" />
    <plugin name="cordova-plugin-alipay-v2" spec="^1.0.0">
        <variable name="APP_ID" value="[2018082061140047]" />
    </plugin>
</widget>
